:root{
  --h3-color:#212121;
  --link-color:#2196F3;
  --h1-color:#FFFFFF;
  --background-color:#F5F4FA;
  --secondbackground-color:#2F303A;
  --body-color:#757575;
}
body{
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71; 
  letter-spacing: 0.03em; 
  color: var(--body-color)
}
.list{
  list-style:none;
}
.link{
  text-decoration: none;
}
.logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--link-color);
}
.logo-footer{
  color: var(--h1-color);
}
.logo-header{
  color:var(--h3-color);
}
.header-link{
line-height: 1.14px;
color: var(--h3-color);
font-weight: 500;
}
.header-mail{
  color:var(--body-color);  
 }
  .header-link:hover,.header-link:focus, .current{
      color: var(--link-color);     
      }
      .footer-link:hover,.footer-link:focus{
        color:var(--link-color);
        cursor: default;      
      } 
.hero-section{
  background: var(--secondbackground-color);
}
.hero-title{
letter-spacing: 0.06em;
text-transform: uppercase;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--background-color)
}
.hero-btn{ 
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--h1-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  font-family: inherit;
  }
  .hidden-text{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path:  inset(50%);
    margin: -1px;


  }
  .difference-list{
    list-style: none;
  }
  .difference-title{
    line-height: 1.16
    
    ; 
    letter-spacing: 0.06em;
    color: var(--h3-color);
    text-transform: uppercase;
  }
  .work-list{
    list-style: none;
  }
    .team-list{
      list-style: none;
    }    
    .teamate-work, .teamate-name{  
      font-size: 16px;
      line-height: 1.19;
      }
      .work-section-title{
      font-size: 36px;
      line-height: 1.16;
      color: var(--h3-color);
      }
      .teamate-name{
        color: var(--h3-color);
        font-weight: 500;     
      } 
.address-link{
  color: rgba(255, 255, 255, 0.6);
}
.address-link[target="_blank"]{
color: var(--h1-color);
}
.address-link:hover,.address-link:focus{
  color: #2196F3;
}
.address-list{
  list-style: none;
}
.footer{
  background-color: #2F303A;;
}
.active-btns{
font-family: inherit;
background: var(--background-color);
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
}
.active-btns:hover,.active-btns:focus{
  background: var(--link-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
color: var(--h1-color);
}

.address{
  font-style: inherit;
}
.portfolio-title{
  color: #212121;
  font-size: 18px;
   line-height: 2;   
}
.portfolio-text{
  font-size: 16px;
  line-height: 1.87;
 
}
.buttons-list{
  list-style: none;
}
.portfolio-list{
  list-style: none;
}

