.body{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71; 
  letter-spacing: 0.03em; 
  color: var(--body-color)
}
.header{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--link-color);
text-decoration: none;
}
.header-li{
line-height: 1.14px;
color: var(--h3-color);
text-decoration: none;
}
.list{
  list-style:none;
}
.header-span{
  color:var(--h3-color);
}
.first-section{
  background: var(--secondbackground-color);
  width: 1600px;
  height: 600px;
}
.first-texts{
letter-spacing: 0.06em;
text-transform: uppercase;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: #FFFFFF;
}

.footer-item{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-item-first{
  color: var(--h1-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
 line-height: 1.71;
}
.footer{
  background-color: #2F303A;;
}
.footer-span{
  color: var(--h1-color);
}
.h-two{
  color: var(--h3-color);
}
.a{
  text-decoration: none;
}
.first-text{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.06em;
color: var(--h3-color);
}
.main-btn{
letter-spacing: 0.06em;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
color: var(--h1-color);
background: var(--link-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 200px;
height: 50px;
}
.main-btns{
background: var(--background-color);
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
height: 38px;
}
.main-btns:hover,.main-btns:focus{
  background: var(--link-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
color: var(--h1-color);

}
.p{
font-size: 16px;
line-height: 1.87;
color: var(--body-color);
font-weight: 400;
}
.link:hover,.link:focus{
color: var(--link-color);

}
.link{
  text-decoration: none;
}
:root{
  --h3-color:#212121;
  --link-color:#2196F3;
  --h1-color:#FFFFFF;
  --background-color:#F5F4FA;
  --secondbackground-color:#2F303A;
  --body-color:#757575;
}
.h-two{
  font-weight: 700;
}
.first-button{
  width: 73px;
}
.second-button{
  width: 128px;
}
.third-button{
  width: 145px;
}
.fifth-button{
  width: 130px;
}

.fourth-button{
  width: 103px;
}
.htw{
  font-weight: 700;
  color: var(--h3-color);
  font-size: 36px;
line-height: 1.16;
}
.fourth-text{
  color: var(--h3-color);
  font-weight: 500;
}
.first-text{
  font-weight: 700;
  color: var(--h3-color);
  font-size: 18px;
line-height: 2;
}
.second-text{
  font-weight: 700;
  color: var(--h3-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.second-p{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}
.header-mail{
color:var(--body-color);
}
.fourth-p{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
}
